<h1>Edit an Non-Endangered Animal</h1>

<p>Edit the animal here:</p>

<form action="/animals" method="post">
      <div class="form-group">
          <label for="name">Animal Name</label>
          <input id="name" name="name" type="text" class="form-control">
      </div>
  <button type="submit" class="btn btn-unique">Edit Animal</button>
</form>