<h1>Add a Location</h1>

<p>Add location here:</p>

<form action="/locations" method="post">
      <div class="form-group">
          <label for="name">Location Name</label>
          <input id="name" name="name" type="text" class="form-control">
      </div>
  <button type="submit" class="btn btn-unique">Add Location</button>
</form>