<h1>Add a Ranger</h1>

<p>Add ranger here:</p>

<form action="/rangers/new" method="post">
      <div class="form-group">
          <label for="name">Ranger Name</label>
          <input id="name" name="name" type="text" class="form-control">
      </div>
      <div class="form-group">
          <label for="badge">Badge Number</label>
          <input id="badge" name="badge" type="text" class="form-control">
      </div>
  <button type="submit" class="btn btn-unique">Add Ranger</button>
</form>